footer(class="container-fluid")
    div(class="row")
        div(class="col-md-4")
            ul
                li Реклама на сайте
                li Условия использования
                li Главная
                li Поиск
                li Рассказать о сайте
                li Обращения к пользователям
        div(class="col-md-4")
            ul
                li О проекте
                li Контакты
                li Тех поддержка
                li Отзывы и предложения
                li Для правообладателей
                li Рекомендации
        div(class="col-md-4")
            ul
                li Поиск
                li Сообщить об ощибке
                li Архив новостей
                li Меню навигации
                li DMCA
