div(class="container-fluid", id="search")
    div(class="row")
        div(class="col-lg-8")
            div(class="row")
                div(class="col-md-3", id="logo") ВИДЕО
                    span ПОИСК
                div(class="col-md-9")
                    form
                        input(type="text", placeholder="enter request", id="search-input")
                        ul.searchHelp
                            li result 1
                            li result 1
                            li result 1
                            li result 1
                        input(type="submit", value="Поиск")
        div(class="col-lg-4 text-right d-none d-lg-block")
            a(href="#") Войти

        div(class="col-lg-8 col-md-12 second-line")
            div(class="row")
                div(class="col-md-3")
                div(class="col-md-2")
                    .form-check
                        input.form-check-input(type='checkbox')
                        label.form-check-label Более 20 мин
                div(class="col-md-3")
                    .form-check
                        input.form-check-input(type='checkbox')
                        label.form-check-label Исключительно CAMRip

                div(class="col-md-3")
                    .form-check
                        input.form-check-input(type='checkbox')
                        label.form-check-label Качество 720 и выше






