a {
  color: #5A38C4;
  text-decoration: underline; }

#logo {
  line-height: 1;
  font-weight: bold;
  font-size: 25px;
  color: #5A38C4; }
  #logo span {
    color: #FF780B; }

#search {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #9a9b9a;
  padding-bottom: 10px; }
  #search form {
    display: flex;
    position: relative; }
    #search form ul.active {
      display: block; }
    #search form ul {
      display: none;
      position: absolute;
      background: white;
      width: 100%;
      top: 27px;
      z-index: 9;
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #FF780B; }
      #search form ul li {
        padding: 0 5px;
        cursor: pointer; }
        #search form ul li:hover {
          background: #9a9b9a;
          color: white; }
    #search form input {
      outline: none;
      border: 1px solid #FF780B; }
      #search form input[type="text"] {
        width: 100%;
        max-width: 100%;
        padding: 0 10px; }
      #search form input[type="submit"] {
        text-transform: uppercase;
        color: #FF780B;
        padding: 1px 10px;
        margin-left: -5px;
        border-left: 0;
        transition: 0.3s;
        background: white; }
        #search form input[type="submit"]:hover {
          background: #FF780B;
          color: white; }
  #search input[type="checkbox"] {
    margin-top: 8px; }
  #search label {
    font-size: 12px;
    color: #9a9b9a;
    margin-top: 7px; }
  #search .second-line {
    margin-top: 20px; }

#content .res {
  margin-top: 10px; }

#content ul {
  padding: 0;
  margin: 10px 0;
  list-style: none; }
  #content ul li {
    margin-bottom: 20px;
    border: 1px solid #9a9b9a;
    padding: 10px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer; }
    #content ul li:hover {
      background: #cdcecd; }
    #content ul li .img {
      margin-right: 0; }
      #content ul li .img img {
        max-width: 100%;
        min-width: 100%; }
    #content ul li .content .title {
      color: #5A38C4;
      text-decoration: underline;
      font-size: 18px; }
    #content ul li .content .src {
      color: #B9280D; }
    #content ul li .content .stars {
      color: #9a9b9a; }
      #content ul li .content .stars .active {
        color: #FF780B; }
      #content ul li .content .stars span {
        padding-left: 10px; }
    #content ul li .content .time {
      color: #B9280D; }
      #content ul li .content .time span {
        color: #9a9b9a;
        margin-left: 10px; }

#content .right {
  margin-top: 44px;
  border-left: 1px solid #9a9b9a; }
  #content .right .img .col-6 {
    padding-left: 0; }
    #content .right .img .col-6 img {
      max-width: 100%; }
  #content .right .title-big {
    font-size: 30px;
    color: #5A38C4;
    padding-top: 20px;
    padding-bottom: 20px; }
  #content .right .thumbs {
    color: #9a9b9a; }
    #content .right .thumbs .row {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #9a9b9a;
      border-bottom: 1px solid #9a9b9a; }
    #content .right .thumbs .icon-block {
      display: flex;
      flex-direction: row-reverse; }
      #content .right .thumbs .icon-block .icon {
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
        border-radius: 50%;
        border: 1px solid #9a9b9a;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        cursor: pointer; }
        #content .right .thumbs .icon-block .icon:hover {
          color: white;
          background: #9a9b9a; }
  #content .right .desc, #content .right .actors {
    color: #FF780B;
    padding-bottom: 50px;
    padding-top: 10px; }
  #content .right .comments {
    color: #5A38C4;
    font-size: 20px; }
    #content .right .comments span {
      border-top: 1px solid #5A38C4;
      padding: 5px 50px 0 10px; }

@media (min-width: 768px) {
  #content ul .content {
    padding-left: 0; } }

#pagination {
  margin-top: 120px; }
  #pagination .pagination {
    justify-content: center; }
    #pagination .pagination .page-item .page-link {
      border-color: #9a9b9a; }
    #pagination .pagination .page-item.disabled .page-link {
      color: #9a9b9a; }
    #pagination .pagination .page-item .page-link {
      color: #5A38C4; }
    #pagination .pagination .page-item.active .page-link {
      border-color: #FF780B;
      background: #FF780B;
      color: white; }

footer {
  border-top: 1px solid #9a9b9a;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    footer ul li {
      text-align: center; }
